
  body, html {
    background-color: #F0F0F0;
    font-family: sans-serif;
    text-align: center;
}

ul {
    margin: auto;
    width: 50%;
    text-align: center;
}

li {
    list-style-type: none;
    padding: 5px;
    margin: 2px;
    background-color: #dff8ff;
    border: 2px solid #00a7d5;
}


/*タブ切り替え全体のスタイル*/
.tabs {
    margin-top: 50px;
    padding-bottom: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 700px;
    margin: 0 auto;}
  
  /*タブのスタイル*/
  .tab_item {
    width: calc(100%/2);
    height: 50px;
    border-bottom: 3px solid #5ab4bd;
    background-color: #d9d9d9;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #565656;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
  }
  .tab_item:hover {
    opacity: 0.75;
  }
  
  /*ラジオボタンを全て消す*/
  input[name="tab_item"] {
    display: none;
  }
  
  /*タブ切り替えの中身のスタイル*/
  .tab_content {
    display: none;
    padding: 40px 40px 0;
    clear: both;
    overflow: hidden;
  }
  
  
  /*選択されているタブのコンテンツのみを表示*/
  #central:checked ~ #central_content,
  #pacific:checked ~ #pacific_content {
    display: block;
  }
  
  /*選択されているタブのスタイルを変える*/
  .tabs input:checked + .tab_item {
    background-color: #5ab4bd;
    color: #fff;
  }